HOST=0.0.0.0
PORT=8094
# plan-execute running inside the container
BASE_URL=http://host.docker.internal
# outside the container with uv run -m plan_execute.app
# BASE_URL=http://localhost

PHOENIX_API_KEY=
PHOENIX_COLLECTOR_ENDPOINT=${BASE_URL}:4317
PHOENIX_COLLECTOR_HTTP_ENDPOINT=${BASE_URL}:6006/v1/traces

LANGFUSE_PUBLIC_KEY=pk-lf-9fd6eeea-bc15-45ff-ac29-003fab1dd55d
LANGFUSE_SECRET_KEY=sk-lf-6a1000f2-17dd-4212-b1fb-93778b734578
LANGFUSE_HOST=http://localhost:3044


POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123 # CHANGEME
POSTGRES_DB=langgraph
# Inside container
# POSTGRES_URL=db
# outside container
POSTGRES_URL=localhost
